@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  @keyframes jump {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }

  .animate-jump {
    animation: jump 2s ease-in-out infinite;
  }
}
